<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<table class='table table-hover table-striped'>
  <% @posts.each do |post| %>
    <tr>
      <th><%= post.title %></th>
      <td><%=  post.body %>
      <td><%=  post.user.email %></td>
    </tr>
  <% end %>
</table>
<p><a href='/'>Cast more votes!</a></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
